.container {
    max-width: 1200px;
    margin: auto;
}

.company-logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: contain;
}

h2 {
    font-weight: 600;
}

ul {
    padding-left: 1.2rem;
}

li {
    margin-bottom: 0.5rem;
}
