<!-- Loading -->
 @if(loading()){
  <div class="mb-2 text-primary">
    Loading...
  </div>
 }

<!-- Success -->
@if(successMessage()){
  <div class="mb-2 text-green-600">
    {{ successMessage() }}
  </div>
}

<!-- Error -->
@if(errorMessage()){
  <div class="mb-2 text-red-600">
    {{ errorMessage() }}
  </div>
}

<div class="grid">
  @for(r of resumes(); track r.id){
    <div
      class="col-12 md:col-4"
    >
      <app-resume-item
        [resume]="r"
        (delete)="onDelete($event)"
      />
    </div>
  }

</div>
<div class="col-12 md:col-4">
  <p-fileUpload
    mode="basic"
    chooseLabel="Add CV / Resume"
    [auto]="false"
    [customUpload]="true"
    [disabled]="loading()"
    (onSelect)="onUpload($event)"
  ></p-fileUpload>
</div>