<section class="hero surface-50">
  <div class="grid align-items-center hero-wrapper">

    <!-- LEFT -->
    <div class="col-12 md:col-6 hero-text">
      <h1>
        Find a job that suits<br />
        your interest & skills.
      </h1>

      <p class="text-500 mt-3">
        Aliquam vitae turpis in diam convallis finibus in at risus.
      </p>

      <div class="search-box flex gap-2 mt-4">
        <input
          pInputText
          placeholder="Job title, keyword"
          class="w-full"
        />
        <input
          pInputText
          placeholder="Your Location"
          class="w-15rem"
        />
        <button pButton label="Find Job"></button>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="col-12 md:col-6 hero-image">
      <img src="assets/images/hero.jpg" alt="Hero" />
    </div>

  </div>
</section>
