<div class="auth-wrapper">
  <div class="auth-card">
    <div class="logo">🧳 Jobpilot</div>

    <h2>Create account.</h2>
    <p class="text-500">
      Already have account?
      <a routerLink="/auth/login">Log in</a>
    </p>

    @if (successMessage() != null) {
        <p-message severity="success" class="mb-2">
          {{ successMessage() }}
        </p-message>
    }

    @if (errorMessage() != null) {
        <p-message severity="error" class="mb-2">
          {{ errorMessage() }}
        </p-message>
    }

    <form [formGroup]="form" (ngSubmit)="submit()">

      <p-selectButton
        [options]="roles"
        formControlName="role"
        class="w-full mb-3">
      </p-selectButton>

      <input pInputText formControlName="email" placeholder="Email address" class="w-full mb-1" />
        @if(hasError('email','email')){
            <small class="text-red-500">
                Invalid email format
            </small>
        }

      <p-password
        formControlName="password"
        placeholder="Password"
        toggleMask
        class="w-full mb-1">
      </p-password>
      @if(hasError('password','minlength') ){
            <small class="text-red-500">
                Password must be at least 6 characters
            </small>
        }

      <p-password
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        toggleMask
        class="w-full mb-1">
      </p-password>
        @if(form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched){
            <small class="text-red-500">
                Passwords do not match
            </small>
        }

      <button
        pButton
        type="submit"
        label="Create Account →"
        class="w-full mt-3"
        [loading]="loading()"
        [disabled]="loading()">
      </button>
    </form>

    <div class="or">OR</div>

    <button
      pButton
      label="Sign up with Facebook"
      icon="pi pi-facebook"
      class="p-button-outlined w-full mb-2"
    ></button>
    <button
      pButton
      label="Sign up with Google"
      icon="pi pi-google"
      class="p-button-outlined w-full"
    ></button>
  </div>
</div>
