<div class="surface-ground p-4">
    <div class="surface-card p-4 border-round shadow-1">
        <div class="mb-1">
            <h3 class="mt-1">Job Applications</h3>
        </div>
            <!-- ALL APPLICATIONS -->
        <div class="grid">
            <div class="col-12">
                <p-card>
                    <div class="flex justify-content-between align-items-center mb-3">
                        <span class="font-semibold">
                        All Application ({{ applicants().length }})
                        </span>
            
                        <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
                        <p-button
                        icon="pi pi-ellipsis-h"
                        text
                        (onClick)="menu.toggle($event)"
                        />
                    </div>
                    
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-4" *ngFor="let app of applicants()">
                            <ng-container>
                                <div class="border-1 surface-border border-round p-3">
                                    <div class="flex gap-3 align-items-center mb-2">
                                    <img
                                        src="https://i.pravatar.cc/150?img=5"   
                                        class="border-circle"
                                        width="48"
                                        height="48"
                                    />
                    
                                    <div>
                                        <div class="font-semibold">{{ app.email }}</div>
                                        <!-- <small class="text-500">{{ app.title }}</small> -->
                                    </div>
                                    </div>
                    
                                    <ul class="text-500 pl-3 text-sm">
                                    <!-- <li>{{ app.experience }} Experience</li> -->
                                    <div class="flex flex-wrap gap-2 my-2">
                                        <p-tag
                                          *ngFor="let skill of app.skills"
                                          [value]="skill"
                                          severity="info"
                                        ></p-tag>
                                      
                                        @if (!app.skills?.length) {
                                          <small class="text-400">No skills</small>
                                        }
                                      </div>
                                    <li>Applied: {{ app.appliedAt | date:'dd/MM/yyyy HH:mm' }}</li>
                                    </ul>
                    
                                    <p-button
                                        label="Download CV"
                                        icon="pi pi-download"
                                        text
                                        class="mt-2 pt-0"
                                        (click)="downloadCV(app.resumeUrl)"
                                    />
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    
    </div>
</div>

  
  