<p-card>
    <h3 class="mb-4">Post a job</h3>
  
    <form [formGroup]="jobForm" class="grid">
  
      <!-- Job title -->
      <div class="col-12">
        <label>Job Title</label>
        <input pInputText formControlName="title" class="w-full mt-1" />
      </div>
  
      <!-- Tags + Role -->
      <div class="col-12 md:col-8">
        <label>Location</label>
        <input pInputText formControlName="location" class="w-full mt-1" />
      </div>
  
      <!-- Salary -->
      <div class="col-12 md:col-4">
        <label>Min Salary</label>
        <p-inputNumber formControlName="minSalary" class="w-full mt-1" />
      </div>
  
      <div class="col-12 md:col-4">
        <label>Max Salary</label>
        <p-inputNumber formControlName="maxSalary" class="w-full mt-1" />
      </div>
  
      <!-- Advance info -->
      <div class="col-12 md:col-4">
        <label>Job Type</label>
        <p-autoComplete
            formControlName="jobType"
            [suggestions]="filteredJobTypes"
            (completeMethod)="filteredJobTypes = filter($event, jobTypes)"
            placeholder="Select job type"
            class="w-full mt-1"
            [dropdown]="true"
        />

      </div>
  
      <div class="col-12 md:col-4">
        <label>Job Level</label>
        <p-autoComplete
            formControlName="jobLevel"
            [suggestions]="filteredJobLevels"
            (completeMethod)="filteredJobLevels = filter($event, jobLevels)"
            placeholder="Select job level"
            class="w-full mt-1"
            [dropdown]="true"
        />
      </div>
  
      <!-- Location -->

  
      <!-- Description -->
      <div class="col-12">
        <label>Job Description</label>
        <textarea
          pInputTextarea
          rows="6"
          formControlName="description"
          class="w-full mt-1"
        ></textarea>
      </div>
  
      <!-- Submit -->
      <div class="col-12 flex justify-content-end mt-4">
        <p-button
          label="Post Job"
          icon="pi pi-send"
          (onClick)="submit()"
        />
      </div>
  
    </form>
  </p-card>
  